*.class
*.log
*.MF

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
ms1-client.jar
ms1-server.jar
ms3-client.jar
ms3-server.jar
ms3-ecs.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Open files
*.java.swp

BasicStorageServer-stub/storage
BasicStorageServer-stub/bin
